@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;1,400;1,500&display=swap');
@import './variables';

main{
  min-height: 80vh;
}

h1{
font-size: 1.8rem;
padding:1rem 0;
}



h2{
font-size: 1.4rem;
padding:0.5rem 0;
}

h3{
  padding:1rem 0;
}

.nav {
  font-size: 1rem;
  background-color: $secondary;
}

.nav-logo {
  font-family: 'Fugaz One'!important;
  text-transform: lowercase;
  font-size: 1.75rem!important;


  @media (min-width: 1600px){
    font-size: 3rem!important;
  }
}

.search-box {

  @media (min-width: 1000px){
    display: flex;
    height: 40px;
  }

  input {
    margin: 5px 0;
    width: 180px;

    @media (min-width: 1000px){
      margin: 0 2px;
      width: 200px;
    }
  }

  button {
    margin: 0!important;
    background-color: white;
  }
}

.navbar-collapse {
  justify-content: space-between;
}

.navbar-nav {
  font-size: .75rem;
}

.username-menu {
  margin: 0!important;
}

.admin {
  color: black!important;
}

.rating span{
margin:0.1rem;
}

/* Container */

.container {
  max-width: none!important;
  padding: 0!important;

  a {
    font-size: 15px;
  }
}

/* Cart */

.cart-row {

  .cart-col {

    h1 {
      padding: 1rem!important;
    }
  }
}

/* carousel */

.carousel-container {
  background-color: #f8efefdc!important;
  background-size: cover;
}

.carousel-item {
  // border-radius: 15px;
  height: 550px;

  .carousel-caption {
    justify-content: space-around;

    h4 {
      color: #fff;
    }
  }
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
display: flex;
}
.carousel-caption {
position: absolute;
top: 0;
letter-spacing: 0;
font-family: 'Montserrat', sans-serif;

  h3 {
    color: $secondary;
    font-size: 4rem;
    font-weight: 800;
  }

  p {
    font-size: 2rem;
  }
}

.carousel-sweet {
  background-image: url('../images/CFP-cover.jpg');
  background-size: cover;

  .carousel-caption {
    flex-direction: column;

    .logo-img {
      width: 100%;
      border-radius: 50%;
      opacity: .9;
      
      @media (min-width: 700px){
        width: 70%;
      }
      @media (min-width: 1000px){
        width: 30%;
      }
    }

    .btn-sweet {
      background-color: #ffbebf!important;
      border: #ffbebf!important;
      color: black;
      opacity: .9;
      &:hover {
        background-color: #ffa1a2!important;
      }
    }

  }
}

.carousel a {
margin: 0 auto;
}
@media (max-width: 900px) {
.carousel-caption h2 {
  font-size: 2.5vw;
}
}


